<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <!-- Title -->
    <title>INSFP</title>


    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">


    <!-- css specialites -->
  	<link rel="stylesheet" href="css/abc/spclt.css">  


    <!-- les cours -->
	<link rel="stylesheet" href="css/cour/main.css">


  	<!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <link href="plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">




    

</head>

<body>
    
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="index.html"><div class="footer_logo_text" align="center" style="font-size:45px; color: black;">
                            INS<span>FP </span>                            
                            </div></a>
                            </div>



                           <!-- 
                            <div style="padding-top: 10px;">
                            <div class="footer_logo_text" align="center" style="font-size:40px; color: black;">
                            BEKOUCHA AMIR ZOUBIR                            
                            </div>
                            <div align="center" style="font-size: 30px; color: #14bdee;
                            font-family: Kumar none;
    font-weight: 900;
}"> Sidi-Bel-Abbès</div>
                            </div> -->
                            
                                
                            
                            <div class="login-content">


                                <a href="#">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">INSFP</a>
                                        <ul class="dropdown">
                                            <li><a href="about-us.html">Présentation</a></li>
                                            <li><a href="about-us.html">Mot direction</a></li>
                                            <li><a href="index.html">L'organigramme</a></li>
                                            <li><a href="index.html">Galerie</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Actualité</a>
                                        <ul class="dropdown">
                                            <li><a href="news.html">Actualité</a></li>
                                            <li><a href="event.html">Événements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Formation</a>
                                        <ul class="dropdown">
                                            <li><a href="formation.html">Formation 1</a></li>
                                            <li><a href="formation.html">Formation 2</a></li>
                                        </ul>
                                    </li>
                                    
                                    
                                    </li>
                                    <li><a href="#">Affichage</a>
                                        <ul class="dropdown">
                                            <li><a href="aff_emploi.html">Emplois du temps</a></li>
                                            <li><a href="aff_note.html">note des Examens</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="course.html">Course</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:+654563325568889"><i class="icon-telephone-2"></i> <span>(+213) 0782 24 82 75</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg-1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                
                                <h2 data-animation="fadeInUp" data-delay="400ms">Bienvenue Dans   <br>Notre Institut</h2>
                                <a href="#"  class="primary-btn text-uppercase" data-animation="fadeInUp" data-delay="700ms">Voir Plus</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>



            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="400ms">Bienvenue Dans   <br>Notre Institut</h2>
                                <a href="#"  class="primary-btn text-uppercase" data-animation="fadeInUp" data-delay="700ms">Voir Plus</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(images/fb.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                
                                <h4 data-animation="fadeInUp" data-delay="400ms">Consulter Notre<br><h2 data-animation="fadeInUp" data-delay="500ms">page facebook</h2></h4>
                                <a href="#"  class="primary-btn text-uppercase" data-animation="fadeInUp" data-delay="700ms">ALLER</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">Institut National Spécialisé de la Formation Professionnelle</h4>
                                <div class="home_slider_form_container">
                                        <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                                <select class="dropdown_item_select home_search_input">
                                                    <option>Selectionez un module</option>
                                                    <option>module A</option>
                                                    <option>module B</option>
                                                    <option>module C</option>
                                                </select>
                                                <select class="dropdown_item_select home_search_input">
                                                    <option>selectionez une spécialité</option>
                                                    <option>spécialité A</option>
                                                    <option>spécialité B</option>
                                                    <option>spécialité C</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="home_search_button">search</button>
                                        </form>
                                    </div>                                                                
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="features-content">
                        <div class="row no-gutters">
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-agenda-1"></i>
                                    <h5>Cours En Ligne</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-assistance"></i>
                                    <h5>Meilleure éducation</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-telephone-3"></i>
                                    <h5>Great Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->

    <!-- ################### about-us ########### -->
    <div class="feature " >
        
        <div class="container ">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <h2 style=" font-family: 'Abril Fatface', serif;
                                   font-weight: 280;
                                   font-size: 46px;
                                   color: #343867;"
 >Institut National Spécialisé de la Formation Professionnelle</h2>
                        <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                    </div>
                </div>
            </div>
            <div class="row feature_row ">

                <!-- Feature Content -->
                <div class="col-lg-6 feature_col" >
                    <div class="feature_content">
                        <!-- Accordions -->
                        <div class="accordions" >
                            
                            <div class="elements_accordions" >

                                <div class="accordion_container" >
                                    <div class="accordion d-flex flex-row align-items-center"><div>mot du directeur</div></div>
                                    <div class="accordion_panel">
                                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>

                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center active"><div>Présentation de l'institut</div></div>
                                    <div class="accordion_panel">
                                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                                        galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>

                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center">
                                        <div>Le Rôle de l’institut</div></div>
                                    <div class="accordion_panel">
                                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>

                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center"><div>Titre 4</div></div>
                                    <div class="accordion_panel">
                                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- Accordions End -->
                    </div>
                </div>

                <!-- Feature Video -->
                <div class="col-lg-6 feature_col">
                	               	
                    <div class="feature_video d-flex flex-column align-items-center justify-content-center">
                          
                         <video class="blog_post_video video-js" data-setup='{"controls": true, "autoplay": false, "preload": "auto", "poster": "images/in1.jpg"}'>
                                    <source src="video/INSFP.mp4" type="video/mp4">
                                    <source src="images/INSFP.ogg" type="video/ogg">
                                    Your browser does not support HTML5 video.
                                </video>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>



                   

<!-- ##### Hero Area Start ##### -->
            <div class="section_title_container text-center wow fadeInUp"  data-wow-delay="300ms">
                        <h2 class="section_title" style="margin-top: 30px;">Découvrir Nos Formations <br> à la une</h2>
                        <div class="section_subtitle"><p>Retrouvez l'ensemble des formations proposées au grand public. faites votre choix en selon les catégories suivantes :</p></div>
            </div>

    <section class="hero-area" 
    style="background: linear-gradient(to bottom, #fafafa00 0%, #dadada94 70%, #e5e6e88a 100%);">
        <div class="hero-slides owl-carousel" >
            <!-- Single Hero Slide -->
            {% for formation in formations%}
            <div class="single-hero-slide bg-img" >
                <div class="container h-100">
                    <div class="row h-100 align-items-center wow fadeInUp" data-wow-delay="300ms">
                       <div class="col">
                        <div class="hero-slides-content ">
                          <h1 style="font-size: 40px;">{{formation.name}}</h1>
                          <br><br>
                          <h5 style="font-size: 18px;" >Description</h5>
                          <p>{{formation.discription}}</p>
                        </div> 
                        <br>
                        <a href="formation.html" class="primary-btn text-uppercase wow fadeInUp">Voir plus</a>   
                       </div>
                       
                       <div class="col" >
                       <img style="width: 500px; height: 430px;    
                                   box-shadow: 0px 5px 7px 8px #14bdee2b;" 
                                   src="images/classes-3.jpg" >
                       </div>

                        
                    </div>
                </div>
            </div>
            {% endfor %}




          

            
        </div>
    </section>




    <!-- ##### Course Area Start ##### -->

    <div class="academy-courses-area" 
                    style="padding-top: 30px;
                           background:linear-gradient(
                           rgba(0.5, 0.5, 0.5, 0.08), 
                           rgba(0.5, 0.5, 0.5, 0.08)),
                           url(images/courses_background.jpg);
                           box-shadow: 0px 10px 20px #9e9e9e;">
                                                
        <div class="container" >
        	<!-- ################################################# -->

			<div class="row align-items-center "  >
				<div class="col-lg-6">
					<div class="dpmt_courses">
						<div class="row" >
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								<div class="single_department wow fadeInUp " data-wow-delay="1400ms" >
									<div class="dpmt_icon">
										<img src="img/dpmt/icon1.png" alt="">
									</div>
									<h4>{{specialites[1]}}</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department wow fadeInUp" data-wow-delay="300ms">
									<div class="dpmt_icon" >
										<img src="img/dpmt/icon2.png" alt="">
									</div>
									<h4>{{specialites[2]}}</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								<div class="single_department wow fadeInUp" data-wow-delay="500ms">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon3.png" alt="">
									</div>
									<h4>{{specialites[3]}}</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department wow fadeInUp" data-wow-delay="1100ms">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon4.png" alt="">
									</div>
									<h4>{{specialites[4]}}</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department wow fadeInUp" data-wow-delay="1700ms">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon5.png" alt="">
									</div>
									<h4>{{specialites[5]}}</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department wow fadeInUp" data-wow-delay="700ms">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon6.png" alt="">
									</div>
									<h4>{{specialites[6]}}</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department wow fadeInUp" data-wow-delay="900ms">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon7.png" alt="">
									</div>
									<h4>{{specialites[7]}}</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="dpmt_righte wow fadeInUp" data-wow-delay="300ms">
						<h1>Nous vous proposons plus de <span class="counter">{{countSpc}}</span> spécialités</h1>
						<p>aywaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.</p>
							<a href="" class="primary-btn text-uppercase wow fadeInUp" data-wow-delay="500ms">Voir Plus</a>

					</div>
				</div>
			</div>
		</div>

		</div>

            <!-- #################################################-->

<!-- Latest News -->

    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <h2 class="section_title">Les Dernieres actualités</h2>
                        <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                    </div>
                </div>
            </div>
            <div class="row news_row">
                {% for new in news %}
                    {% if loop.first %}
                    <div class="col-lg-7 news_col">
                        
                        <!-- News Post Large -->
                        <div class="news_post_large_container">
                        
                            <div class="news_post_large">
                                <div class="news_post_image"><img src="images/news_1.jpg" alt=""></div>
                                <div class="news_post_large_title"><a href="blog_single.html">{{ new.titre}}</a></div>
                                <div class="news_post_meta">
                                    <ul>
                                        <li><a href="#">admin</a></li>
                                        <li><a href="#">{{new.created|date('Y-m-d H:i') }}</a></li>
                                    </ul>
                                </div>
                                <div class="news_post_text">
                                    <p>{{new.discription}}</p>
                                </div>
                                <div class="news_post_link"><a href="blog_single.html">Lire</a></div>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-5 news_col">
                {% else %}
                <br>
                    <div class="news_posts_small">

                        <!-- News Posts Small -->
                        <div class="news_post_small">
                            <div class="news_post_small_title"><a href="blog_single.html">{{ new.titre }}</a></div>
                            <div class="news_post_meta">
                                <ul>
                                    <li><a href="#">admin</a></li>
                                    <li><a href="#">{{new.created|date('Y-m-d H:i') }}</a></li>
                                </ul>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
 


                    </div>
                </div>
            </div>
        </div>
        <div align="center" style="margin-top: 30px;">
                <a  href="news.html" class="primary-btn text-uppercase wow fadeInUp">Voir les anciens</a>
        </div>
    </div>


 


            
    <!-- ##### Testimonials Area Start ##### -->
    

    	<!-- ############################################## -->

    	<!-- ############################################## -->
    <div class="testimonials-area  bg-img bg-overlay" style="background-image: url(img/bg-img/bg-2.jpg); ">

        <div class="container ">
            <div class="home_slider_form_container " style="padding-top: 50px; margin-bottom: 50px;">
                                        <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                <input type="search" class="home_search_input" placeholder="Recherche par mot clé" required="required">
                                                <select class="dropdown_item_select home_search_input">
                                                    <option>Selectionez un module</option>
                                                    <option>module A</option>
                                                    <option>module B</option>
                                                    <option>module C</option>
                                                </select>
                                                <select class="dropdown_item_select home_search_input">
                                                    <option>selectionez une spécialité</option>
                                                    <option>spécialité A</option>
                                                    <option>spécialité B</option>
                                                    <option>spécialité C</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="home_search_button">Recherche</button>
                                        </form>
                                    </div>
            <div class="row align-items-center">
				<div class="col-lg-5 about-right">
					<h1>
						Trouver le cours<br>dont vous avez besoin
					</h1>
					<div class="wow fadeIn" data-wow-duration="1s" >
						<p style="color: #fff;">
							There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think
							about setting up your own viewing station. In the life of any aspiring astronomer that it is time to buy that first
							telescope. It’s exciting to think about setting up your own viewing station.
						</p>
					</div>
					<a href="course.html" class="primary-btn text-uppercase wow fadeInUp">Explore Courses</a>
				</div>
				<div class="offset-lg-1 col-lg-6">
					<div class="courses-right">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="courses-list">
									<li>
										<a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".1s">
											<i class="fa fa-book"></i> {{modules[0].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".3s">
											<i class="fa fa-book"></i> {{modules[1].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s">
											<i class="fa fa-book"></i> {{modules[2].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s">
											<i class="fa fa-book"></i> {{modules[3].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-book"></i> {{modules[4].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-book"></i> {{modules[5].nom}}
										</a>
									</li>
									
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="courses-list">
									<li>
										<a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay="1.3s">
											<i class="fa fa-book"></i> {{modules[6].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay="1.1s">
											<i class="fa fa-book"></i> {{modules[7].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-book"></i> {{modules[8].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s">
											<i class="fa fa-book"></i> {{modules[9].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s">
											<i class="fa fa-book"></i> {{modules[10].nom}}
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-book"></i> {{modules[11].nom}}
										</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- ##### Testimonials Area End ##### -->
    <!-- ##### Testimonials Area End ##### -->


    <!-- Events -->

    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <h2 class="section_title">Les Événements à venir</h2>
                        <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                    </div>
                </div>
            </div>
            <div class="row events_row">

                <!-- Event -->
                <div class="col-lg-4 event_col">
                    <div class="event event_left">
                        <div class="event_image"><img src="images/event_1.jpg" alt=""></div>
                        <div class="event_body d-flex flex-row align-items-start justify-content-start">
                            <div class="event_date">
                                <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                    <div class="event_day trans_200">{{events[0].getDateDeEvenement|date('d')}}</div>
                                    <div class="event_month trans_200">{{events[0].getDateDeEvenement|date('m')}}</div>
                                </div>
                            </div>
                            <div class="event_content">
                                <div class="event_title"><a href="#">{{events[0].titre}}</a></div>
                                <div class="event_info_container">
                                    <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{events[0].start|date(' H:i')}}- {{events[0].end|date(' H:i')}}</span></div>
                                    <div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span></span></div>
                                    <div class="event_text">
                                        <p>{{events[0].discription}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Event -->
                <div class="col-lg-4 event_col">
                    <div class="event event_mid">
                        <div class="event_image"><img src="images/event_2.jpg" alt=""></div>
                        <div class="event_body d-flex flex-row align-items-start justify-content-start">
                            <div class="event_date">
                                <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                    <div class="event_day trans_200">{{events[1].getDateDeEvenement|date('d')}}</div>
                                    <div class="event_month trans_200">{{events[1].getDateDeEvenement|date('m')}}</div>
                                </div>
                            </div>
                            <div class="event_content">
                                <div class="event_title"><a href="#">{{events[1].titre}}</a></div>
                                <div class="event_info_container">
                                    <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{events[1].start|date(' H:i')}}- {{events[1].end|date(' H:i')}}</span></div>
                                    <div class="event_text">
                                        <p>{{events[1].discription}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Event -->
                <div class="col-lg-4 event_col">
                    <div class="event event_right">
                        <div class="event_image"><img src="images/event_3.jpg" alt=""></div>
                        <div class="event_body d-flex flex-row align-items-start justify-content-start">
                            <div class="event_date">
                                <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                    <div class="event_day trans_200">{{events[2].getDateDeEvenement|date('d')}}</div>
                                    <div class="event_month trans_200">{{events[2].getDateDeEvenement|date('m')}}</div>
                                </div>
                            </div>
                            <div class="event_content">
                                <div class="event_title"><a href="#">{{events[2].titre}}</a></div>
                                <div class="event_info_container">
                                    <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{events[2].start|date(' H:i')}}- {{events[2].end|date(' H:i')}}</span></div>
                                    <div class="event_text">
                                        <p>{{events[2].discription}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
               <div align="center">
                <a  href="event.html" class="primary-btn text-uppercase wow fadeInUp">Voir les anciens</a>
               </div>
        </div>
    </div>


 
     
    

    <!-- ##################################### -->
    <!-- ####### subscribe Area star ####### 

    <div id="colorlib-subscribe" class="subs-img" style="background-image: url(img/bg-img/pc-3.jpg);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                        <h2>Abonnez-vous à la newsletter</h2>
                        <p>Abonnez-vous à notre newsletter et recevez les dernières nouvelles </p>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <div class="col-md-12">
                            <form class="form-inline qbstpp-header-subscribe">
                                <div class="col-three-forth">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Entrez votre email">
                                    </div> 
                                </div><br></br>
                                <div class="col-one-third"> <br>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Abonnez-vous
                                        </button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     ############## end ########### -->




















        <!-- Counter -->

    <div class="counteur ">
        <div class="counter_background" style="background-image:url(images/counter_background.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="counter_content">
                        <div class="footer_logo_text"  style="font-size:50px;">
                            L ' INS<span>FP</span>                           
                        </div>
                        <div align="center"  style="color: #fff; font-size: 28px;">
                            +5 ans d'éxistance.
                        </div>

                        

                        <!-- Milestones -->

                        <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">
                            
                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" >
                                    +<span class="counter">5</span>
                                </div>
                                <div class="milestone_text">Formations certifiées</div>
                            </div>

                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" >
                                    <span class="counter">200</span>
                                </div>
                                <div class="milestone_text">Specialitées Specialitées</div>
                            </div>

                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" >
                                    +<span class="counter">2000</span>
                                </div>
                                <div class="milestone_text">Etudiants diplomés</div>
                            </div>

                            <!-- Milestone -->
                            <div class="milestone">
                                <div class="milestone_counter" >
                                    <span class="counter">95</span>%
                                </div>
                                <div class="milestone_text">Taux de reussite</div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

<!--

            <div class="counter_form">
                <div class="row fill_height">
                    <div class="col fill_height">
                        <form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
                            <div class="counter_form_title">courses now</div>
                            <input type="text" class="counter_input" placeholder="Your Name:" required="required">
                            <input type="tel" class="counter_input" placeholder="Phone:" required="required">
                            <select name="counter_select" id="counter_select" class="counter_input counter_options">
                                <option>Choose Subject</option>
                                <option>Subject</option>
                                <option>Subject</option>
                                <option>Subject</option>
                            </select>
                            <textarea class="counter_input counter_text_input" placeholder="Message:" required="required"></textarea>
                            <button type="submit" class="counter_form_button">submit now</button>
                        </form>
                    </div>
                </div>
            </div>
        -->

        </div>
    </div>




















      <!-- ##### Partner Area Start ##### -->
    <div class="partner-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
                        <a href="#"><img src="img/clients-img/partner-1.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-2.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-3.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-4.png" alt=""></a>
                        <a href="#"><img src="img/clients-img/partner-5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Partner Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="call-to-action-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content d-flex align-items-center justify-content-between flex-wrap">
                        <h3>Do you want to enrole at our Academy? Get in touch!</h3>
                        <a href="#" class="primary-btn text-uppercase">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->


    

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                                    <div class="footer-widget mb-100">
                                    <div class="footer-widget mb-100">
                                    <div class="footer_logo_container">
										<a href="#">
											<div class="footer_logo_text">INS<span>FP</span></div>
										</a>
									</div>
									<div class="footer_about_text">
										<p>Lorem ipsum dolor sit ametium, consectetur adipiscing elit.</p>
									</div>
									<div class="footer_social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Usefull Links</h6>
                            </div>
                            <nav>
                                <ul class="useful-links">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Services &amp; Features</a></li>
                                    <li><a href="#">Accordions and tabs</a></li>
                                    <li><a href="#">Menu ideas</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Gallery</h6>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <a href="img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/bg-img/gallery1.jpg" alt=""></a>
                                <a href="img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/bg-img/gallery2.jpg" alt=""></a>
                                <a href="img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/bg-img/gallery3.jpg" alt=""></a>
                                <a href="img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/bg-img/gallery4.jpg" alt=""></a>
                                <a href="img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/bg-img/gallery5.jpg" alt=""></a>
                                <a href="img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contact</h6>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-placeholder"></i>
                                <p>4127/ 5B-C Mislane Road, Gibraltar, UK</p>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-telephone-1"></i>
                                <p>Main: 203-808-8613 <br>Office: 203-808-8648</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p>office@yourbusiness.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    



        



    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
        <script src="js/jquery/jquery-3.2.1.min.js"></script>

    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="plugins/video-js/video.min.js"></script>




    
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>

    <!-- Active js -->
    <script src="js/active.js"></script>
    <script src="js/about.js"></script>

    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>







</body>

</html>