{% extends 'admin/dashboard.html.twig' %}

{% block body %}

<div class="container mt-4">
    <h2 style="margin-bottom:80px;">
        <i class="fas fa-newspaper fa-2x" style="padding-right:5px;"></i>  <a href="{{ path('formation')}}">Option</a>\Editer Les specialités 
    </h2>           
    <span class="id_spc" style="display:none;">{{ formation.id}}</span>
      {% for specialite in formation.getSpecialites() %}
                <span id="module" class="bdg badge badge-secondary" style="display:none" >{{specialite.name}}</span>
                            {% endfor %}     
 {{ form_start(form_m) }}
                        {{ form_row(form_m.name) }}
                {{ form_end(form_m)}}
</div>
{% endblock %}