<div class="container mt-15">
            {{ form_start(form)}}
        {{ form_row(form.name) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary"><i class="fas fa-upload" style="padding-right:10px;"></i>{{ button|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>