{% extends 'admin/dashboard.html.twig' %}

{% block title 'Option' %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <h1 class="center-align  "><i class="fas fa-cog"></i> Option </h1>
    </div>
</div>
<div class="container-fluid ">
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Specialité</th>
                 <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for specialite in specialites %}
            <tr>
                <td>{{ specialite.id }}</td>
                <td>{{ specialite.name }}</td>
                 <td><a href="{{ path('admin.specialite.edit',{id: specialite.id}) }}" class="btn btn-secondary"><i
                            class="fas fa-edit" style="padding-right:5px;"></i>Editer</a>
                    <a href="{{ path('admin.module.edit',{id: specialite.id}) }}" class="btn btn-warning"><i
                        class="fas fa-edit" style="padding-right:5px;"></i>Editer les Modules</a>
                    <form method="post" action="{{ path('admin.specialite.delete',{id: specialite.id}) }}" style="display: inline-block"
                        onsubmit="return confirm('Etes vou vraiment sur ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~specialite.id) }}">
                        <button class="btn btn-danger"><i class="fas fa-trash-alt" style="padding-right:5px;"></i>Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>




{% endblock body %}